h1 {
    color: orange
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
}

button {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: aqua;
    color: grey;
    border-color: white;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 5em;
}

body {
background-image: url(../img/background\ home.jpg);

}
.container{color: orange;}

#player1{
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 1em;
    
}
#player2{
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    
}
#backinbtn{
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(241, 144, 17);
    color: rgb(250, 247, 247);
    border-color: rgb(255, 255, 255);
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 5em;

}
#startbtn{
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(245, 4, 4);
    color: rgb(250, 247, 247);
    border-color: rgb(255, 255, 255);
    font-size: em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
    margin-top: 5em;
}