* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/vecteezy_retro-style-80s-sci-fi-background-futuristic-with-laser-grid_6241363_85.jpg);
    color: orange;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

button {
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(255, 0, 179);
    color: grey;
    border-color: white;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;
}
#restart-button{
    padding: 10px 15px;
    border-radius: 15px;
    background-color: aqua;
    color: grey;
    border-color: white;
    font-size: 1em;
    font-family: 'Cabin', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Press Start 2P', cursive;}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.letter {
    font-size: 3em;

}

table {
    max-width: 420px;
    max-height: 420px;
    width: 85vw;
    height: 85vw;
    border-spacing: 5px 6px;
    margin-top: 4em;

}

td {
    padding: 0;
    width: 33%;
    height: 33%;
}

.celda {
    font-size: 3.4em;
    font-size: 16vmin;
    height: 100%;
    width: 100%;
}